

body {
margin:0;

}

main {
margin:0;
}
header{
	display: block;
	width: 98.75vw;
	height: 10vh;
	background-color: #333;
	margin:0;
}

h1 {
	display: block ;
	text-align: center;
}

/* カート表示　カート表示　カート表示　カート表示　カート表示*/
.item_wrap{
	display: inline-block;
	width: 100vw;
	height: 50vh;
	text-align: center;
	
}
.item_img_wrap{
	display: inline-block;
	width: 100vw;
	height: 50vh;

	
}
.item_img {
	display: inline-block;
	width: 50vw;
	height: 40vh;
	text-align: center;
	
}
.item_img img{
	display: inline;
	width: 23vw;
	height: auto;
	margin:0 0 15vh 0;
	
}
.item_price_wrap{
	display: inline-block;
	width: 50vw;
	height: 40vh;
	text-align: center;
}
.item_price{
	display: block;
	margin:5vh auto 0 auto;
	text-align: center;
}
.item_quant {
	display: block;
	margin:5vh 0 0 0;
	text-align: center;
}
.item_littletotal{
	display: block;
	margin:5vh 0 0 0;
	text-align: center;
}
item_alltotal{
	display: block;
	font-size:2rem;
	margin:10vh 0 0 0;
	text-align: center;
}

/* カート表示　カート表示　カート表示　カート表示　カート表示*/

/* 新規商品登録画面　itemManage.java*/

.manage_wrap {
	display: inline-block;
	width: 100vw;
	height: 50vh;
	text-align: left;
	
}
.manage_title {
	display: inline-block;
	width: 20vw;
	height: 25vh;
	margin:15vh 0 0 30vw;
	float:left;
}
.manage_form {
	display: inline-block;
	width: 40vw;
	height: 25vh;
	text-align: left;
	margin:16vh 0 5vh 0;
	
}

/* 新規商品登録画面　itemManage.java*/
.ma_category, .ma_name, .ma_price, .ma_quantity{
	margin:1vh 0 1.15vh 0;
}
.ma_picture {
	margin:5vh 0 0 0;
}
input[type="number"] {
	text-align: right;
	margin:1.5vh 0 0 0;
}

input[type="text"] {
	text-align: right;
	margin:1.5vh 0 0 0;
}

textarea {
	margin:1.5vh 0 0 0;
}

input[type="file"] {
	display: none;
}
.input_botton {
	padding: 0.5vh;
	color:rgb(0, 255, 255);
	background-color:rgb(254, 255, 255,0);
	cursor: pointer;
	margin:1.5vh 0 0 0;
}

input[value="CONFIRM"] {
	display: block;
	margin:5vh auto auto auto;
}
#ID001 img {
	display: inline;
	width: 23vw;
	height: auto;
	margin: 1vw;
}
.notice::placeholder  {
  color: red;
  font-weight:bold;
}

.notice select{
  background-color: red;
}
/* 新規商品登録画面　itemManage.java END*/

/* 新規商品確認画面　itemConfirm.java */
.item_con_wrap {
	display:inline-block;
	/*flex-wrap: wrap;*/
	width:100vw;
	height:120vh;
}
.item_con_img_wrap{
	display: inline-block;
	width: 40vw;
	height: 60cvh;
	margin: 2vh 0 0 11vw;
	padding:0 0 0 0;
	text-align: left;
	float: left;
}
.item_con_img {
	display: inline-block;
	width: 35vw;
	height: auto;
	text-align: left;
}

.item_con_img img{
	display: inline-block;
	width: 35vw ;
	height: auto;
	margin:0 0 5vh 0;
	
}

.item_con_img_mini_wrap{
	display: inline-flex;
	justify-content:space-between;
	width: 38vw;
	height: 20vh;
}



.item_con_img_mini img{
	display: inline;
	width: 11vw;
	height: auto;
	margin:auto;
}

.item_con_price_wrap{
	display: inline-block;
	width: 30vw;
	height: 60vh;
	margin: 10vh 9vw 0 0;
	padding: 0 0 0 0;
	text-align: right;
}

.item_con_btn_wrap {
	display: inline-block;
	width: 100vw ;
	margin: 5vh auto 10vh auto;
}

.itemconfirm{
	display: inline;
	margin: 5vh auto 10vh auto;
	text-align:center;
	border:none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

.item_con_explan_wrap {
	display: inline;
	width: 30vw;
	height: 10vw;
}
.itemconfirm form{
	display: inline;
}


/* 新規商品確認画面　itemConfirm.java END*/

/* カテゴリー商品修正画面　itemCategory.jsp*/

.item_ctg_wrap{
	display: flex;
	flex-wrap: wrap;
	width: 98vw;
	text-align: right;
}
.item_ctg_img_wrap{
	display: inline-block;
	width: 24.5vw;
	height: auto;
	text-align: right;
	
}
.item_ctg_img {
	display: inline-block;
	width: 24.5vw;
	height: 24vw;
	margin: 0;
}
.item_ctg_img img{
	display: inline;
	width: 22.5vw;
	height: auto;
	margin: 1vw;
}
.item_ctg_price_wrap{
	display: inline;
	text-align: right;
}
.item_ctg_price{
	display: inline;
	margin:0;
	text-align: right;;
}
.item_ctg_quant {
	display: inline;
	margin:0;
	text-align: right;
}
.item_ctg_explan {
	display: none;
}
.item_ctg_id {
	display: none;
}
.item_ctg_delete {
	display: inline;
}
.item_ctg_confirm {
	display: inline;
}

/* カテゴリー商品修正画面　itemCategory.jsp END*/

/* 各商品修正画面　itemChanged.jsp　*/
.manage_img img {
	display: inline;
	width: 23vw;
	height: auto;
	margin: 1vw;
}

/* ボタンデザイン */
.ctg_btn{
	display: block;
	 width: 100vw;
	 margin: auto;
	 clear:left;
}
.ctg_btn_footer{
	display: inline;
	 width: 100vw;
	 margin: 20vh auto 0 auto;
}
.ctg_btn_form{
	display: block;
	 margin: 0 0 0 0.75vw;
}

.change, .registration, .comfirm, .btn_new_item_add, .delete, .in_cart, .detail{
    margin: auto;
    width: 20vw;
	height: 5vh;
	border:none;
	background-size: contain !important;
}
.detail{
	display: inline;
	background: url(./btn_img/btn_detail.png) center center no-repeat;
}
.change {
	display: inline;
	background: url(./btn_img/btn_change.png) center center no-repeat;
}
.delete {
	display: inline;
	background: url(./btn_img/btn_delete.png) center center no-repeat;
}
.in_cart {
	display: inline;
	background: url(./btn_img/btn_in_cart.png) center center no-repeat;
}
.registration {
	display: inline;
	background: url(./btn_img/btn_registration.png) center center no-repeat;
}
.comfirm {
	display: block;
	background: url(./btn_img/btn_confirm.png) center center no-repeat;
}
.btn_new_item_add {
	display: block;
	background: url(./btn_img/btn_new_item_add.png) center center no-repeat;
}
.comfirm_btn {
	display: block;
	margin: 0 0 20vh 0;
}
.accessorie, .book, .cosmetic, .food, .gadget, .outdoors, .allitem {
	display: inline;
    margin: auto;
    width: 13.5vw;
	height: 5vh;
	border:none;
	background-size: contain !important;
}
.accessorie {
	background: url(./btn_img/btn_accessorie.png) center center no-repeat;
}
.book {
	background: url(./btn_img/btn_book.png) center center no-repeat;
}
.cosmetic {
	background: url(./btn_img/btn_cosmetic.png) center center no-repeat;
}
.food {
	background: url(./btn_img/btn_food.png) center center no-repeat;
}
.gadget {
	background: url(./btn_img/btn_gadget.png) center center no-repeat;
}
.outdoors {
	background: url(./btn_img/btn_outdoors.png) center center no-repeat;
}

.allitem {
	background: url(./btn_img/btn_allitem.png) center center no-repeat;
}
/* ボタンデザイン END*/

/* 各商品修正画面　itemChanged.jsp END*/
footer{
	display: block ;
	width: 98.75vw;
	height: 30vh;
	background-color:rgb(145, 145, 145);
}


